/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  border: 1px solid grey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*General Styles*/
html {
  font-size: 62.5%;
}

/* header styles */
/* header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: 255, 255, 255, 0.8;
} */

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 2rem;
}

.right {
  align-items: flex-end;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  border: 1px;
}

h1 {
  font-size: 3rem;
}

.mainProject {
  display: flex;
  justify-content: center;
  align-content: center;
}

button {
  border: 1px solid black;
  background-color: white;
}

button a:hover {
  color: white;
  background-color: lightskyblue;
  text-decoration: bold;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
}

.projects div {
  width: 30%;
  height: 25%;
  align-content: center;
  margin: 1%;
}

div img {
}

.project {
}

/* .project1 {
  background-image: url(https://unsplash.com/photos/fehk0T5g9Ew);
}
.project2 {
  background-image: url(https://images.unsplash.com/photo-1635421582147-e97bf59a3068?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80);
}
.project3 {
  background-image: url(https://unsplash.com/photos/fehk0T5g9Ew);
}
.project4 {
  background-image: url(https://unsplash.com/photos/fehk0T5g9Ew);
}
.project5 {
  background-image: url(https://unsplash.com/photos/fehk0T5g9Ew);
}
.project6 {
  background-image: url(https://unsplash.com/photos/fehk0T5g9Ew);
} */
