/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  border: 1px solid grey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*General Styles*/
html {
  font-size: 62.5%;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
}

.right {
  align-items: flex-end;
}

h1 {
  font-size: 7.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2.5rem;
}

.mainProject button {
  font-size: 2rem;
}

a {
  text-decoration: none;
  border: 1px;
}

.mainProject {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 2%;
}

button {
  border: 1px solid black;
  background-color: white;
}

button:hover {
  color: white;
  background-color: lightskyblue;
  text-decoration: bold;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-wrap: wrap;
  align-content: space-around;
}

.projects div {
  height: 40%;
  width: 25%;
  margin: 2.5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects .project {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 55%;
  height: 75%;
}

.project1 {
  background-image: url(https://images.unsplash.com/photo-1593642634402-b0eb5e2eebc9?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80);
}
.project2 {
  background-image: url(https://images.unsplash.com/photo-1635421582147-e97bf59a3068?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80);
}
.project3 {
  background-image: url(https://images.unsplash.com/photo-1635373308995-52a45b7ff7c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1587&q=80);
}
.project4 {
  background-image: url(https://images.unsplash.com/photo-1635363638580-c2809d049eee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
}
.project5 {
  background-image: url(https://images.unsplash.com/photo-1635405262538-3184b22f3771?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
}
.project6 {
  background-image: url(https://images.unsplash.com/photo-1635377090186-036bca445c6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=80);
}
